h1 {
    
    color:rgb(255,0,0);
}

body{
background-color: rgb(26, 25, 25);
background-image: url("Netflix.jpg") no- repait;
}

p {
    color:rgb(255, 255, 255);
}

h4 {
    color:rgb(255, 255, 255);
}

ul {
    color:rgb(205, 205, 205);
}

ol {
    color:rgb(205, 205, 205);
}

h3 {
Border:solid 3px rgb(241, 237, 237);
color: rgb(241, 244, 247);
} 

h2 {
Border:solid 3px red;
color: rgb(241, 244, 247);
} 

h1{
font-family:"serif";
font-style: italic;
}



